<!DOCTYPE html>
<html lang="en">

<head>
	{{>websiteHeader}}
	<title>{{siteData.businessName}} | eEz Commerce</title>
</head>

<body>
	<div class="navbar navbar-expand-lg bg-dark navbar-dark navbar-fixed">
		<div class="navbar-brand">
			<a class="text-light" href="{{siteData.baseUrl}}">
				{{siteData.businessName}}
			</a>
		</div>

		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="{{siteData.baseUrl}}">Home</a>
				<a class="nav-item nav-link" href="{{siteData.baseUrl}}/shop">Shop</a>
			</div>
		</div>
	</div>

	<div class="container">
		<h1>Products:</h1>
		<ul>
			{{#each prods}}
			<div class="card col-md-3">
				<div class="card-body">
					{{name}}
				</div>
				
			</div>
				
			{{/each}}
		</ul>
	</div>


	


	<footer class="bg-light text-center pt-5 pb-5 w-100" style="position: absolute; bottom:0;">
		&copy; {{siteData.businessName}}, <a href="/">eEz Commerce 2020</a>
	</footer>


</body>

</html>